.text{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    background-color: white;
    border: 1px solid skyblue;
    border-radius: 0.2vw;
    cursor: pointer;
    height: 2.5vh;
  }
  .butt{
    /* margin: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 7px;
    background-color: skyblue;
    cursor: pointer; */
    width: 18vw;
  height: 2.3vw;
  background-color: #DB4444;
  border-radius: 6px;
  margin-left: 3vw;
  cursor: pointer;
  }
  .text-box{
    margin-left: 300px;
    height: 37vw;
    width: 25vw;
    /* background-color: antiquewhite; */
    background-color: rgb(248, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
  }
.text-box h1{
  margin-left: 1.3vw;
}
.text-box p{
  margin-left: 5.8vw;
}
.textp p{
  margin-left: 1.4vw;
}
.textp p{
  margin-top: 0vw;
}
.link p{
  margin-top: 2vw;
}
.text-box p{
  margin-top: 0vw;
}
.text-box i{
  margin-left: 4vw;
  margin-top: 3vw;
  font-size: 18px;

}
.sign{
  display: flex;
  height: 40vw;
  margin-top: 7vw;

}
.backimg img{
  height: 35vw;
  width: 45vw;
  border-radius: 20px
  ;
  /* margin-left: 6vw; */
}
.cret1{
  width: 18vw;
  height: 2.3vw;
  background-color: red;
  border-radius: 6px;
  margin-left: 3vw;
  cursor: pointer;
}
.cret2{
  margin-top: 1vw;
  width: 18vw;
  height: 2.3vw;
  background-color: rgb(212, 208, 208);
  border-radius: 6px;
  margin-left: 3vw;
  cursor: pointer;

}