.container{
width: 100vw;
height: 280px;
top: 5462px;
padding: 80px 0px 24px 0px;
gap: 0px;
opacity: 0px;
background-color: black;
display: flex;
justify-content: space-around;

}
/* container */
/* h3{
    color: aliceblue;
    /* color: black; */

h4,h3,h6{
    color: aliceblue;

}

.data1 i{
    color: rgb(240, 119, 119);
    font-size: 20px;
    margin-left: -2vw;
}
.data1 input{
    margin-left: -0.6vw;
    width: 150px;
}
/* h6{
    color: aliceblue;

} */
.img1{
    height: 60px;
    width: 80px;
    border-radius: 15px;
}
.img2{
    height: 30px;
    width: 40px;
    border-radius: 15px;
    margin: 6px;
    margin-top: 20px;
    background-color: white;

}
.data2 h3{
    color: white;
}
.data1 h3{
    color: white;
}
.data3 h3{
    color: white;
}
.data4 h3{
    color: white;
}
.data5 h3{
    color: white;
}
.data5 i{
    /* background-color: white; */
    color: white;
    font-size: 30px;
    margin: 6px;
}
@media screen and (max-width:600px) {
    .container{
        width: 80vw;
        height: 6vw;
        /* margin-top: 20vw; */
        /* padding: 80px 0px 24px 0px;
        gap: 0px;
        opacity: 0px; */
        background-color: rgb(205, 56, 56);
        display: flex;
        justify-content: space-around;
        
        }
    
}